@inherits LayoutComponentBase

<div class="page bg-dark">
@*    <div class="sidebar">
        <NavMenu />
    </div>
*@
    <main>
        <div class="top-row px-4 bg-blueish d-flex justify-content-between align-content-start text-light">
            <span class="cubano-font"> Symphony Cookbook Server Status</span>
        </div>

        <article class="content px-4 text-light">
            @Body
        </article>
    </main>
</div>
