@page "/about"

<h3 class="text-center text-light cubano-font">About</h3>

<p class="text-light">
    The Cook Book application is a digital platform that allows users to create and manage a collection of materials and recipes. Users can create and edit their own materials and recipes, and can link recipes to the materials they require. The application also includes an inventory system that allows users to store and track the materials they have available. Based on the materials in their inventory, the Cook Book application will recommend recipes that users can make. The application also includes user accounts with configurable profiles, allowing users to customize their experience and access their materials and recipes from any device. The Cook Book application will also feature a recommendation system that suggests popular recipes to users.
</p>

@code {

}
