# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

.idea

secrets.enc.yaml

# .tfstate files
*.tfstate
*.tfstate.backup
*.tfstate.lock.info*
.terraform.lock.hcl

# TF Directories
.terraform/